framework: auto-detect

source https://api.nuget.org/v3/index.json
source https://teamcity.med.arizona.edu/httpAuth/app/nuget/v1/FeedService.svc 
// Use this to confure the Team City credentials securely on your system
// $ .paket/paket.exe config add-credentials https://teamcity.med.arizona.edu/httpAuth/app/nuget/v1/FeedService.svc


nuget FSharp.Core == 4.5.0
nuget FSharp.Data == 3.0
nuget Saturn
nuget Giraffe == 1.1.0
nuget AspNetCore.Security.CAS
nuget Simple.Migrations
nuget Microsoft.Data.Sqlite
nuget FsToolkit.ErrorHandling
nuget Dapper
nuget FsUnit.xUnit == 3.2.0
nuget xunit.abstractions
nuget xunit.runner.visualstudio
nuget Chessie

clitool dotnet-saturn

nuget COM.Core == 0.5.33-dev
nuget COM.Infrastructure == 0.5.34-dev

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget NuGet.CommandLine
  nuget xunit.runner.console

