source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget Saturn
nuget Giraffe == 2.0.1
nuget Simple.Migrations
nuget Microsoft.Data.Sqlite
nuget FsToolkit.ErrorHandling
nuget Dapper
nuget FsUnit.xUnit == 3.2.0
nuget xunit.runner.visualstudio

clitool dotnet-saturn

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
  nuget NuGet.CommandLine
  nuget xunit.runner.console