source https://api.nuget.org/v3/index.json

storage: none

nuget Saturn
nuget Giraffe
nuget AspNetCore.Security.CAS
nuget Microsoft.Data.Sqlite
nuget FsToolkit.ErrorHandling

nuget Serilog.AspNetCore
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.AzureBlobStorage
nuget Serilog.Sinks.File
nuget WindowsAzure.Storage

nuget Expecto
nuget Microsoft.NET.Test.Sdk
nuget Expecto.FsCheck
nuget Expecto.TestResults
nuget Expecto.BenchmarkDotNet
nuget Expecto.Hopac
nuget Logary.Adapters.Facade prerelease

clitool dotnet-saturn

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.Environment
    nuget Fake.Core.Trace
    nuget Fake.IO.Zip
    github UACOMTucson/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs
