<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath=".\bin\Debug\net461\Template.Saturn.WebHost.exe" 
                arguments="" 
                stdoutLogEnabled="false" 
                stdoutLogFile=".\logs\stdout" 
                forwardWindowsAuthToken="false"/>
  </system.webServer>
  <appSettings >
    <add key="Eds.Username" value="medportal-dev" />
    <add key="Eds.Password" value="jQbX0XxhkH73coapHhuB0Pe5Rrovyn" />
    <add key="Eds.URL" value="https://eds.arizona.edu/people"/>
    <add key="WebAuth.URL" value="https://webauth.arizona.edu/webauth"/>
  </appSettings>
</configuration>